<h2>Reactivos: Básicos</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">
      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del producto"
            formControlName="name"
          />
          <!--Varias maneras de ponerlo-->
          <!--Si el campo es validadado-->
          @if(isValidField('name')){
          <span class="form-text text-danger">
            {{ getFieldError("name") }}
          </span>
          }

          <!--Primera forma-->
          <!--@if(myForm.controls["name"].errors ){
          <span class="form-text text-danger">
             Debe de ser de 3 letras
            error message
          </span>
          }-->
          <!--Si el campo es requirido
          @if(myForm.controls["name"].errors?.['required'] ){
          <span class="form-text text-danger">
            debe ser 3 letras este campo es requerido
          </span>
          }-->
          <!--Si el campo tiene menos de 3 letras
          @if(myForm.controls["name"].errors?.['minlength'] ){
          <span class="form-text text-danger">
            debe ser 3 letras debe tener minimo 3 letras
          </span>
          }-->
        </div>
      </div>

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Precio del producto"
            formControlName="price"
          />
          @if(isValidField('price')){
          <span class="form-text text-danger">
            {{ getFieldError("price") }}
          </span>
          }
        </div>
      </div>

      <!-- Campo de existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Existencias del producto"
            formControlName="inStorage"
          />

          @if(isValidField('inStorage')){
          <span class="form-text text-danger">
            {{ getFieldError("inStorage") }}
          </span>
          }
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ myForm.valid | json }}</pre>

    <span>Pristine</span>
    <pre>{{ myForm.pristine | json }}</pre>

    <span>Touched</span>
    <pre>{{ myForm.touched | json }}</pre>

    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>

    <!--esto llama a todos los errores del formulario
    <span>Errores</span>
        <pre>{{ myForm.errors | json }}</pre>-->
    <!--esto llama a  error name del formulario-->
    <span>Errores en name</span>
    <pre>{{ myForm.controls["name"].errors | json }}</pre>
    <pre>{{ myForm.controls["price"].errors | json }}</pre>
    <pre>{{ myForm.controls["inStorage"].errors | json }}</pre>

    <span>Precio</span>
    <pre>{{ myForm.controls["price"].value | json }}</pre>

    <span>Producto</span>
    <pre>{{ myForm.controls["name"].value | json }}</pre>
  </div>
</div>
